<!-- Header -->
<div id="hd">
  <div class="logo">
    <a href="/"><h1>FITNR. Fixed In The Next Release.</h1>
    <h2>A written-only notation attached to a bug report. Often
      wishful thinking.</h2></a>
  </div>
  <div class="navigation">
    <ol>
      <li><strong>BLOG</strong></li>
      <!--<li><a href=".">ABOUT</a></li>
      <li><a href=".">WORK</a></li>-->
    </ol>
  </div>  
  <div class="subnav yui-g">
    <!--
    <div class="yui-u first">
      <ol>
        <li><strong>Most Recent</strong> -</li>
        <li><a href=".">Archives</a></li>
      </ol>
    </div>
    --> 
  </div>
</div> <!-- end Header -->
