<div id="sidepanel" class="yui-u">
  <div class="panelcontent">
    <h1>ABOUT</h1>

    <p>Hi, I'm Louis Marascio. I'm an entrepreneur and software
    developer in Austin, TX. I enjoy writing code and building
    companies that solve interesting problems. Welcome.
    <!--<a href="about.html">read more</a>--></p>
    
    <div>
      <ol class="center">
        <li><a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=2030269&amp;loc=en_US">
          Receive Updates via Email</a> -</li>
        <li>
          <a href="http://feeds.feedburner.com/FixedInTheNextRelease">Feed</a>
          <a class="feedlink" href="http://feeds.feedburner.com/FixedInTheNextRelease">
            <img class="feed" alt="Feed" src="/feed-icon-14x14.png"/></a>
        </li> 
      </ol>
    </div>

    <div class="center">
      <a class="socialbutton" href="http://www.linkedin.com/in/louismarascio">
        <img src="/linkedin48x48.png" alt="View Louis Marascio's profile on LinkedIn"
           width="48" height="48" border="0"/>
      </a>

      <a class="socialbutton" href="http://www.twitter.com/marascio">
        <img src="/twitter48x48.png" alt="Follow Louis Marascio on Twitter"
           width="48" height="48" border="0"/>
      </a>
    </div>
  </div>
  
  <div class="panelcontent">
    <h1>DISCUSS</h1>
    <p>You won't find a traditional comment system here. Instead,
    I have created <a
      href="http://groups.google.com/group/fitnr-discuss">fitnr-discuss</a>,
    a Google Group for discussing the things I write
    about. I encourage you to join in. 
      <form action="http://groups.google.com/group/fitnr-discuss/boxsubscribe">
        <input style="color: #aaa" id="discuss-email" type="text" name="email"
               value="email address"
               onclick="this.value='';this.style.color='#000';">
        <input id="discuss-submit" type="submit" name="sub" value="Subscribe Now">
      </form>
    </p>
  </div>

  <div class="panelcontent">
    <h1>WORK</h1>
    <p>I'm the CEO and a founder of <a
    href="http://www.lugiron.com">LugIron Software</a>, a software
    company dedicated to building amazingly great products for teams
    that people love to use. You can learn more about LugIron by
    visiting our website or reading the <a
    href="http://blog.lugiron.com">LugIron Blog</a>.</p>
    
    <p>Previously, I worked at <a href="http://www.cisco.com">Cisco
    Systems</a> where I was responsible for engineering the <a
    href="http://www.cisco.com/web/developer/cuae/">Cisco Unified
    Application Environment</a>, the development platform for the <a
    href="http://www.cisco.com/en/US/products/ps6884/">Cisco Unified
    Communications</a> product line. I came to Cisco after they acquired
    my previous company, Metreos.</p>
  </div>

  <div class="panelcontent">
    <h1>METREOS</h1>
    <p>I was a founder and the CTO of <a
    href="http://en.wikipedia.org/wiki/Metreos">Metreos</a>, a software
    company in Austin, TX. In June 2006 Metreos was <a
    href="http://newsroom.cisco.com/dlls/2006/corp_060806c.html">acquired</a>
    by Cisco. Metreos was a big part of my life and I've decided to
    archive as many of the bits of wisdom and funny stories that flew by
    so quickly while we built our company that I can remember. When I
    have time to start remembering some of the more interesting bits
    I'll update this section.</p>
  </div>

</div> <!-- end sidepanel -->

